---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Check+out+my+new+post+on+Median%3A+TIL%3A+MUGS+DON%27T+WASH+THEMSELVES+-+http%3A%2F%2Fwww.example.com%2Fusers%2F1%2Fposts%2F1
    headers:
      Authorization:
      - OAuth oauth_consumer_key="AOWzSuHBxmEZWsPzVrglusfFh", oauth_nonce="15f5b62a461e69f8868a189c8500e354",
        oauth_signature="7FQr8TBJi1%2Bf%2FL%2F9kh%2B1v%2B0GJDA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434141604", oauth_token="91851523-5Fvzui6QGxwFlYLMUdFP50ZkEYC8S4YM1dOL09Faq",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 12 Jun 2015 20:40:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7e7565aa5b122641701cf3d931ede6cd
      X-Response-Time:
      - '93'
      X-Transaction:
      - 3d848742ae771838
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Jun 12 20:40:05 +0000 2015","id":609460181399957504,"id_str":"609460181399957504","text":"Check
        out my new post on Median: TIL: MUGS DON''T WASH THEMSELVES - http:\/\/t.co\/ryccc9JfZZ","source":"\u003ca
        href=\"http:\/\/median-nss.com\/\" rel=\"nofollow\"\u003eMedian NSS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":91851523,"id_str":"91851523","name":"marrclina","screen_name":"marrclina","location":"Nashville,
        TN","description":"software development student with a digital marketing background
        || looking to connect the dots between marketing and technology","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":107,"friends_count":150,"listed_count":5,"created_at":"Sun
        Nov 22 19:30:15 +0000 2009","favourites_count":11,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":19,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EDECE9","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/55639382\/van-gogh-sunflowersdetail.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/55639382\/van-gogh-sunflowersdetail.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/559856719740678146\/d8P46AZn_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/559856719740678146\/d8P46AZn_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/91851523\/1402061906","profile_link_color":"F5ABB5","profile_sidebar_border_color":"FA0000","profile_sidebar_fill_color":"FF8F05","profile_text_color":"1CBD04","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/ryccc9JfZZ","expanded_url":"http:\/\/www.example.com\/users\/1\/posts\/1","display_url":"example.com\/users\/1\/posts\/1","indices":[67,89]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Fri, 12 Jun 2015 20:40:05 GMT
recorded_with: VCR 2.9.3
